In [1]:
import pandas as pd
import numpy as np

In [2]:
# warning
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('data1.csv')

In [4]:
data.head()

,S.NO,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [5]:
df=data.dropna()

In [6]:
#changing feature name
df = df.rename({'Dataset': 'Result'}, axis=1)

In [7]:
df.columns

Index(['S.NO', 'Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Result'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Gender']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(int)

In [9]:
df.head()

,S.NO,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Result
0,0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [10]:
X = df.drop(labels='Result', axis=1)
#Response variable
y = df.loc[:,'Result']

In [11]:
#According to the cross-validated MCC scores, the random forest is the best-performing model, so now let's evaluate its performance on the test set.
from sklearn.metrics import confusion_matrix, classification_report, matthews_corrcoef, cohen_kappa_score, accuracy_score, average_precision_score, roc_auc_score

In [12]:

#We'll use a test size of 30%. We also stratify the split on the response variable, which is very important to do because there are so few fraudulent transactions.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1, stratify=y)

In [13]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
clf1 = LogisticRegression()
clf2 = RandomForestClassifier()
clf4 = SVC()
eclf1 = VotingClassifier(estimators=[('lr', clf1), ('rf', clf2),('svc',clf4)], voting='hard')
eclf1 = eclf1.fit(X_train, y_train)
a=eclf1.predict(X_test)
b=np.bincount(a).argmax()
if b==1:
    a = 'RandomForest Classifier'
    print('Best classifier for this dataset:',a)
elif b==2:
    print('Logistic Regression')
else:
    print('SVC')

Best classifier for this dataset: RandomForest Classifier